
body{
    margin: 0;
}
.head{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(33, 33, 33);
}
.h{
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding-top: 10px;

}
.head1{
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.a1{
    width: 80%;
    display: flex;
    color: #ffffff;
    margin-left: 154px;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a1 ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 22px;
}
.a2{
    display: flex;
    justify-content: end;
    margin-left: 500px;
    width: 30%;
    color: #ffffff;
    height: 25px;
    gap: 20px;
    margin-right: 165px;
}
.a3{
    width: 100%;
    height:1183px;
}
.image {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(3,350px);
   justify-content: center;
    gap: 10px;
}
.image img {
  width: 350px;
  height: 350px;
  object-fit: cover; 
  padding-top: 36px;
}
.pic{
    width: 100%;
    height: 600px;
    display: flex;
}
.pic1 img{
    width: 394px;
    height:528px;
    margin-left: 150px;
}
.text ul{
    list-style-type: none;
    justify-content: left;
    margin-top: 70px;
    margin-left: 40px;
}
.i1{
    font-size: 30px;

}
.i2{
    font-size: 20px;

}
.i3{
    width: 140px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: #ffffff;
}
.last{
  width: 100%;
    height: 309px;
    background-color: black;
}
.last1{
    color: #ffffff;
        list-style-type: none;
    justify-content: left;
    font-size: 20px;
    text-align: center;
}
.last1 img{
    margin-top: 20px;
    width: 25px;
}

.la1 ul{
    display: flex;
    margin: 0;
    gap: 25px;        
    width: 100%;
    height:110px ;
    color: #a5a5a5;
    background-color: black;
    text-align: center;
}